openapi: 3.1.0
info:
  title: Publisher Automation API
  version: 1.0.0
  description: Server-to-server content administration API for Claude and other automation clients.
servers:
  - url: https://admin.publisher.com
security:
  - bearerAuth: []
paths:
  /api/v2/sites/{siteId}/posts:
    get:
      operationId: listPosts
      summary: List managed posts
      parameters:
        - {
            name: limit,
            in: query,
            schema: { type: integer, minimum: 1, maximum: 100, default: 20 },
          }
        - {
            name: offset,
            in: query,
            schema: { type: integer, minimum: 0, default: 0 },
          }
      responses:
        '200': { $ref: '#/components/responses/PostsResponse' }
        '401': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: createPost
      summary: Create a validated draft
      requestBody: { $ref: '#/components/requestBodies/PostInput' }
      responses:
        '201': { $ref: '#/components/responses/PostResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/posts/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getPost
      summary: Get one managed post
      responses:
        '200': { $ref: '#/components/responses/PostResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updatePost
      summary: Update a draft with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
            description: Current numeric revision.,
          }
      requestBody: { $ref: '#/components/requestBodies/PostPatch' }
      responses:
        '200': { $ref: '#/components/responses/PostResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: deletePost
      summary: Delete a managed post with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200':
          {
            description: Deleted,
            content: { application/json: { schema: { type: object } } },
          }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/articles/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getArticle
      summary: Get an article and its locale variants
      responses:
        '200': { $ref: '#/components/responses/ArticleResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    put:
      operationId: upsertArticleVariant
      summary: Add or update one locale variant
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: integer },
          }
      requestBody: { $ref: '#/components/requestBodies/ArticleVariantInput' }
      responses:
        '200': { $ref: '#/components/responses/ArticleResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: removeArticleVariant
      summary: Remove one locale variant
      parameters:
        - { name: locale, in: query, required: true, schema: { type: string } }
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: integer },
          }
      responses:
        '200': { $ref: '#/components/responses/ArticleResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/publish:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      operationId: publishSite
      summary: Create a site snapshot and enqueue its build job
      parameters:
        - {
            name: Idempotency-Key,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '202': { $ref: '#/components/responses/PublishResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/plugins:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    get:
      operationId: listSitePlugins
      summary: List reviewed plugin installations for an authorized site
      responses:
        '200': { $ref: '#/components/responses/PluginsResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: configureSitePlugin
      summary: Configure a reviewed plugin for an authorized site
      requestBody: { $ref: '#/components/requestBodies/PluginCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/PluginResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/plugins/{pluginId}:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
      - { name: pluginId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getSitePlugin
      summary: Read a site-scoped plugin installation without secret references
      responses:
        '200': { $ref: '#/components/responses/PluginResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updateSitePlugin
      summary: Update validated non-secret plugin configuration
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody:
        { $ref: '#/components/requestBodies/PluginConfigurationInput' }
      responses:
        '200': { $ref: '#/components/responses/PluginResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: actOnSitePlugin
      summary: Validate, enable, or disable an installation with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: false,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/PluginActionInput' }
      responses:
        '200': { $ref: '#/components/responses/PluginResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/tags:
    get:
      operationId: listTags
      summary: List managed taxonomy tags
      responses:
        '200': { $ref: '#/components/responses/TagsResponse' }
        '401': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: createTag
      summary: Create a managed taxonomy tag
      requestBody: { $ref: '#/components/requestBodies/TagInput' }
      responses:
        '201': { $ref: '#/components/responses/TagResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/tags/{slug}:
    parameters:
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      operationId: getTag
      summary: Get one managed taxonomy tag
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: renameTag
      summary: Rename a tag with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/TagPatch' }
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: archiveTag
      summary: Archive a tag without changing existing post assignments
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/settings:
    get:
      operationId: getPublicationSettings
      summary: Read publication settings
      responses:
        '200': { $ref: '#/components/responses/SettingsResponse' }
    patch:
      operationId: updatePublicationSettings
      summary: Update publication settings with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/SettingsInput' }
      responses:
        '200': { $ref: '#/components/responses/SettingsResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
        '428': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/authors:
    get:
      operationId: listAuthors
      summary: List managed authors
      responses:
        '200': { $ref: '#/components/responses/AuthorsResponse' }
    post:
      operationId: createAuthor
      summary: Create a managed author with a stable slug
      requestBody: { $ref: '#/components/requestBodies/AuthorInput' }
      responses:
        '201': { $ref: '#/components/responses/AuthorResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/authors/{slug}:
    parameters:
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      operationId: getAuthor
      summary: Read one managed author
      responses:
        '200': { $ref: '#/components/responses/AuthorResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updateAuthor
      summary: Edit an author while preserving its slug
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/AuthorPatch' }
      responses:
        '200': { $ref: '#/components/responses/AuthorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: archiveAuthor
      summary: Archive an author with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200': { $ref: '#/components/responses/AuthorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites:
    get:
      operationId: listSites
      summary: List active publications
      responses:
        '200': { $ref: '#/components/responses/SitesResponse' }
    post:
      operationId: createSite
      summary: Create a publication (publisher role)
      requestBody: { $ref: '#/components/requestBodies/SiteInput' }
      responses:
        '201': { $ref: '#/components/responses/SiteResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getSite
      summary: Read one publication
      responses:
        '200': { $ref: '#/components/responses/SiteResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updateSite
      summary: Update a publication's name, origin, or theme
      requestBody: { $ref: '#/components/requestBodies/SitePatch' }
      responses:
        '200': { $ref: '#/components/responses/SiteResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: archiveSite
      summary: Archive a publication
      responses:
        '200': { $ref: '#/components/responses/SiteResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/bootstrap:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      operationId: bootstrapSite
      summary: Create the empty content state for a publication
      responses:
        '200': { $ref: '#/components/responses/BootstrapResponse' }
        '201': { $ref: '#/components/responses/BootstrapResponse' }
  /api/v2/sites/{siteId}/agent-guidance:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getAgentGuidance
      summary: Read private editorial guidance for agents
      responses:
        '200': { $ref: '#/components/responses/AgentGuidanceResponse' }
    patch:
      operationId: updateAgentGuidance
      summary: Replace the guidance text with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/AgentGuidanceInput' }
      responses:
        '200': { $ref: '#/components/responses/AgentGuidanceResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/categories:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    get:
      operationId: listCategories
      summary: List primary categories
      responses:
        '200': { $ref: '#/components/responses/TagsResponse' }
    post:
      operationId: createCategory
      summary: Create a primary category
      requestBody: { $ref: '#/components/requestBodies/TagInput' }
      responses:
        '201': { $ref: '#/components/responses/TagResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/categories/{slug}:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      operationId: getCategory
      summary: Read a category
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updateCategory
      summary: Rename a category with If-Match
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/TagPatch' }
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: archiveCategory
      summary: Archive a category with If-Match
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/posts/{id}/desk:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getDeskReport
      summary: Desk report — automated checks, self-check list, site guidance
      responses:
        '200': { $ref: '#/components/responses/DeskReportResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: decideDesk
      summary: Approve the post for publication or request changes (publisher role)
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/DeskDecisionInput' }
      responses:
        '200': { $ref: '#/components/responses/DeskReportResponse' }
        '409':
          {
            description: Automated checks failed or the checklist is incomplete; the report is returned,
            content:
              {
                application/json:
                  { schema: { $ref: '#/components/schemas/DeskRejection' } },
              },
          }
  /api/v2/sites/{siteId}/media:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      operationId: uploadMedia
      summary: Upload an image as pending media (publisher role)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                sha256: { type: string }
      responses:
        '201': { $ref: '#/components/responses/MediaResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
    put:
      operationId: approveMedia
      summary: Approve pending media and generate public variants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mediaId]
              properties: { mediaId: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/MediaResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/embeds/x:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      operationId: resolveXPostEmbed
      summary: Resolve a canonical X post URL into a static embed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties: { url: { type: string, format: uri } }
      responses:
        '200': { $ref: '#/components/responses/XEmbedResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
        '503': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/operations/{id}:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getOperation
      summary: Read a publication build job or archive restore operation
      responses:
        '200': { $ref: '#/components/responses/OperationResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/content-restore:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      operationId: restoreContent
      summary: Restore a local archive into an empty publication (publisher role)
      parameters:
        - {
            name: Idempotency-Key,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/ContentRestoreInput' }
      responses:
        '200': { $ref: '#/components/responses/OperationResponse' }
        '202': { $ref: '#/components/responses/OperationResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Publisher automation key
  requestBodies:
    SiteInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/SiteInput' } },
        }
    SitePatch:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/SitePatch' } },
        }
    AgentGuidanceInput:
      required: true
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [instructions],
                  properties:
                    { instructions: { type: string, maxLength: 12000 } },
                },
            },
        }
    DeskDecisionInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/DeskDecision' } },
        }
    ContentRestoreInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/ContentRestoreRequest' } },
        }
    PostInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/PostInput' } },
        }
    PostPatch:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/PostPatch' } },
        }
    TagInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/TagInput' } },
        }
    TagPatch:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/TagPatch' } },
        }
    SettingsInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicationSettings' }
    AuthorInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AuthorInput' }
    AuthorPatch:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AuthorPatch' }
    ArticleVariantInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ArticleVariant' }
    PluginCreateInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PluginCreateInput' }
    PluginConfigurationInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PluginConfigurationInput' }
    PluginActionInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PluginActionInput' }
  responses:
    SiteResponse:
      description: One publication
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [site],
                  properties: { site: { $ref: '#/components/schemas/Site' } },
                },
            },
        }
    SitesResponse:
      description: Active publications
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [sites],
                  properties:
                    {
                      sites:
                        {
                          type: array,
                          items: { $ref: '#/components/schemas/Site' },
                        },
                    },
                },
            },
        }
    BootstrapResponse:
      description: Bootstrap outcome
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [site, created],
                  properties:
                    {
                      site: { $ref: '#/components/schemas/Site' },
                      created: { type: boolean },
                    },
                },
            },
        }
    AgentGuidanceResponse:
      description: Private editorial guidance
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [siteId, agentContext],
                  properties:
                    {
                      siteId: { type: string },
                      agentContext:
                        { $ref: '#/components/schemas/AgentGuidance' },
                    },
                },
            },
        }
    DeskReportResponse:
      description: Desk report for a post
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/DeskReportEnvelope' } },
        }
    MediaResponse:
      description: Media item
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [siteId, media],
                  properties:
                    {
                      siteId: { type: string },
                      media: { $ref: '#/components/schemas/Media' },
                    },
                },
            },
        }
    XEmbedResponse:
      description: Static X post embed
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [embed],
                  properties: { embed: { type: object } },
                },
            },
        }
    OperationResponse:
      description: Operation state
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [operation],
                  properties:
                    { operation: { $ref: '#/components/schemas/Operation' } },
                },
            },
        }
    ErrorResponse:
      description: Structured API error
      content:
        { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    PostResponse:
      description: Managed post response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [post],
                  properties:
                    { post: { $ref: '#/components/schemas/ManagedPost' } },
                },
            },
        }
    PostsResponse:
      description: Paginated post response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [posts, page],
                  properties:
                    {
                      posts:
                        {
                          type: array,
                          items: { $ref: '#/components/schemas/ManagedPost' },
                        },
                      page: { $ref: '#/components/schemas/Page' },
                    },
                },
            },
        }
    TagResponse:
      description: Managed tag response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [tag],
                  properties:
                    { tag: { $ref: '#/components/schemas/ManagedTag' } },
                },
            },
        }
    TagsResponse:
      description: Managed tag list response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [tags],
                  properties:
                    {
                      tags:
                        {
                          type: array,
                          items: { $ref: '#/components/schemas/ManagedTag' },
                        },
                    },
                },
            },
        }
    SettingsResponse:
      description: Revisioned publication settings
      content:
        application/json:
          schema:
            type: object
            required: [settings]
            properties:
              settings:
                { $ref: '#/components/schemas/ManagedPublicationSettings' }
    AuthorResponse:
      description: Managed author response
      content:
        application/json:
          schema:
            type: object
            required: [author]
            properties:
              author: { $ref: '#/components/schemas/ManagedAuthor' }
    AuthorsResponse:
      description: Managed author list
      content:
        application/json:
          schema:
            type: object
            required: [authors]
            properties:
              authors:
                type: array
                items: { $ref: '#/components/schemas/ManagedAuthor' }
    ArticleResponse:
      description: Article with locale variants
      content:
        application/json:
          schema:
            type: object
            required: [article]
            properties:
              article: { $ref: '#/components/schemas/ManagedArticle' }
    PublishResponse:
      description: Site publish result
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublishResult' }
    PluginResponse:
      description: Site-scoped plugin configuration without secret references
      content:
        application/json:
          schema:
            type: object
            required: [siteId, plugin]
            properties:
              siteId: { type: string }
              plugin: { $ref: '#/components/schemas/PluginInstallation' }
    PluginsResponse:
      description: Reviewed plugin definitions and installed configurations
      content:
        application/json:
          schema:
            type: object
            required: [siteId, definitions, plugins]
            properties:
              siteId: { type: string }
              definitions:
                type: array
                items: { type: string }
              plugins:
                type: array
                items: { $ref: '#/components/schemas/PluginInstallation' }
  schemas:
    Site:
      type: object
      required: [siteId, name, canonicalOrigin, themeId, active]
      properties:
        siteId: { type: string }
        name: { type: string }
        canonicalOrigin: { type: string, format: uri }
        themeId: { type: string }
        active: { type: boolean }
    SiteInput:
      type: object
      required: [siteId, name, canonicalOrigin]
      properties:
        siteId: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        name: { type: string }
        canonicalOrigin: { type: string, format: uri }
        themeId: { type: string }
    SitePatch:
      type: object
      properties:
        name: { type: string }
        canonicalOrigin: { type: string, format: uri }
        themeId: { type: string }
    AgentGuidance:
      type: object
      required: [instructions, revision, updatedAt]
      properties:
        instructions: { type: string }
        revision: { type: integer }
        updatedAt: { type: string, format: date-time }
    DeskCheck:
      type: object
      required: [id, level, message]
      properties:
        id: { type: string }
        level: { type: string, enum: [pass, warn, fail] }
        message: { type: string }
    DeskChecklistItem:
      type: object
      required: [id, label, description]
      properties:
        id: { type: string }
        label: { type: string }
        description: { type: string }
    DeskReport:
      type: object
      required: [checks, checklist, approvalValid]
      properties:
        checks:
          { type: array, items: { $ref: '#/components/schemas/DeskCheck' } }
        checklist:
          {
            type: array,
            items: { $ref: '#/components/schemas/DeskChecklistItem' },
          }
        guidance: { type: string }
        approvalValid: { type: boolean }
        review: { type: object }
    DeskReportEnvelope:
      type: object
      required: [siteId, postId, revision, status, report]
      properties:
        siteId: { type: string }
        postId: { type: string }
        revision: { type: integer }
        status: { type: string }
        report: { $ref: '#/components/schemas/DeskReport' }
    DeskDecision:
      type: object
      required: [action]
      properties:
        action: { type: string, enum: [approve, request-changes] }
        checklist:
          type: array
          items:
            type: object
            required: [id, checked]
            properties:
              id: { type: string }
              checked: { type: boolean }
              note: { type: string }
        note: { type: string }
    DeskRejection:
      type: object
      required: [error, report]
      properties:
        error: { $ref: '#/components/schemas/Error' }
        report: { $ref: '#/components/schemas/DeskReport' }
    Media:
      type: object
      required: [id, siteId, state, sha256, mimeType, width, height, variants]
      properties:
        id: { type: string }
        siteId: { type: string }
        state: { type: string, enum: [pending, approved] }
        sha256: { type: string }
        mimeType: { type: string }
        width: { type: integer }
        height: { type: integer }
        variants:
          type: array
          items:
            type: object
            properties:
              publicPath: { type: string }
              width: { type: integer }
              height: { type: integer }
              mimeType: { type: string }
    Operation:
      type: object
      required: [id, kind, status, terminal, retryable, updatedAt]
      properties:
        id: { type: string }
        kind: { type: string, enum: [publication, archive_restore] }
        status: { type: string }
        terminal: { type: boolean }
        retryable: { type: boolean }
        updatedAt: { type: string, format: date-time }
        result: { type: object }
    ContentRestoreRequest:
      type: object
      required: [expectedRevision, archive]
      properties:
        expectedRevision: { type: integer }
        archive: { type: object, description: Serialized content archive }
    PluginCreateInput:
      type: object
      required: [pluginId, configuration]
      properties:
        pluginId: { type: string }
        configuration: { type: object, additionalProperties: true }
    PluginConfigurationInput:
      type: object
      required: [configuration]
      properties:
        configuration: { type: object, additionalProperties: true }
    PluginActionInput:
      type: object
      required: [action]
      properties:
        action: { type: string, enum: [validate, enable, disable] }
        configuration: { type: object, additionalProperties: true }
    PluginInstallation:
      type: object
      required:
        [
          siteId,
          pluginId,
          definitionVersion,
          state,
          revision,
          configuration,
          hasSecretReferences,
          createdAt,
          updatedAt,
        ]
      properties:
        siteId: { type: string }
        pluginId: { type: string }
        definitionVersion: { type: string }
        state: { type: string, enum: [disabled, configured, enabled] }
        revision: { type: integer, minimum: 1 }
        configuration: { type: object, additionalProperties: true }
        hasSecretReferences: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    PostInput:
      type: object
      required:
        [slug, title, excerpt, bodyMarkdown, author, publishedAt, categories]
      properties:
        sourceId: { type: string }
        sourceUrl: { type: string, format: uri }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        title: { type: string }
        excerpt: { type: string }
        bodyMarkdown:
          {
            type: string,
            minLength: 1,
            description: 'Versioned CommonMark with validated figure/embed directives.',
          }
        author: { type: string }
        authorSlug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        seoTitle: { type: string, maxLength: 70 }
        seoDescription: { type: string, maxLength: 180 }
        status:
          {
            type: string,
            enum: [draft, review, scheduled, published],
            default: draft,
          }
        publishedAt: { type: string, format: date-time }
        categories: { type: array, items: { type: string } }
        imageUrl: { type: string }
        featured: { type: boolean }
    PostPatch:
      type: object
      properties:
        sourceId: { type: string }
        sourceUrl: { type: string, format: uri }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        title: { type: string }
        excerpt: { type: string }
        bodyMarkdown:
          {
            type: string,
            minLength: 1,
            description: 'Versioned CommonMark with validated figure/embed directives.',
          }
        author: { type: string }
        authorSlug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        seoTitle: { type: string, maxLength: 70 }
        seoDescription: { type: string, maxLength: 180 }
        status: { type: string, enum: [draft, review, scheduled, published] }
        publishedAt: { type: string, format: date-time }
        categories: { type: array, items: { type: string } }
        imageUrl: { type: string }
        featured: { type: boolean }
      description: All fields are optional for PATCH.
    TagInput:
      type: object
      required: [name]
      properties:
        slug: { type: string, pattern: '^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$' }
        name: { type: string, minLength: 1, maxLength: 80 }
    TagPatch:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 80 }
    ManagedPost:
      allOf:
        - { $ref: '#/components/schemas/PostInput' }
        - type: object
          required: [id, status, revision, createdAt]
          properties:
            id: { type: string }
            status:
              { type: string, enum: [draft, review, scheduled, published] }
            revision: { type: integer }
            createdAt: { type: string, format: date-time }
    ArticleVariant:
      type: object
      required:
        [
          locale,
          slug,
          title,
          excerpt,
          bodyMarkdown,
          seoTitle,
          seoDescription,
          status,
          publishedAt,
        ]
      properties:
        locale:
          { type: string, pattern: '^[A-Za-z]{2,3}(?:-[A-Za-z0-9]{2,8})*$' }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        title: { type: string }
        excerpt: { type: string }
        bodyMarkdown:
          type: string
          description: Canonical editable CommonMark source with validated figure and embed directives.
        bodyHtml:
          type: string
          readOnly: true
          description: Derived sanitized static-publication projection. Never accepted as an editable request field.
        seoTitle: { type: string }
        seoDescription: { type: string }
        status: { type: string, enum: [draft, review, scheduled, published] }
        revision: { type: integer }
        publishedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    ManagedArticle:
      type: object
      required:
        [
          id,
          sourceId,
          sourceUrl,
          author,
          authorSlug,
          categories,
          featured,
          variants,
          revision,
          createdAt,
        ]
      properties:
        id: { type: string }
        sourceId: { type: string }
        sourceUrl: { type: string, format: uri }
        author: { type: string }
        authorSlug: { type: string }
        categories: { type: array, items: { type: string } }
        featured: { type: boolean }
        variants:
          {
            type: array,
            items: { $ref: '#/components/schemas/ArticleVariant' },
          }
        revision: { type: integer }
        createdAt: { type: string, format: date-time }
    ManagedTag:
      type: object
      required: [slug, name, active, revision, createdAt, updatedAt]
      properties:
        slug: { type: string }
        name: { type: string }
        active: { type: boolean }
        revision: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    PublicationSettings:
      type: object
      required:
        [
          name,
          shortName,
          description,
          canonicalOrigin,
          language,
          locale,
          publisherName,
        ]
      properties:
        name: { type: string }
        shortName: { type: string }
        description: { type: string }
        canonicalOrigin: { type: string, format: uri }
        language: { type: string }
        locale: { type: string }
        publisherName: { type: string }
    ManagedPublicationSettings:
      allOf:
        - { $ref: '#/components/schemas/PublicationSettings' }
        - type: object
          required: [revision, updatedAt]
          properties:
            revision: { type: integer }
            updatedAt: { type: string, format: date-time }
    AuthorInput:
      type: object
      required: [name, bio]
      properties:
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        name: { type: string, minLength: 1, maxLength: 120 }
        bio: { type: string, minLength: 1, maxLength: 500 }
        avatarUrl: { type: string }
        active: { type: boolean, default: true }
    AuthorPatch:
      type: object
      properties:
        slug:
          type: string
          description: Accepted only when unchanged; stable slugs cannot be renamed.
        name: { type: string, minLength: 1, maxLength: 120 }
        bio: { type: string, minLength: 1, maxLength: 500 }
        avatarUrl: { type: string }
        active: { type: boolean }
    ManagedAuthor:
      allOf:
        - { $ref: '#/components/schemas/AuthorInput' }
        - type: object
          required: [slug, active, revision, createdAt, updatedAt]
          properties:
            revision: { type: integer }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    Page:
      type: object
      required: [limit, offset, total, hasMore]
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }
        hasMore: { type: boolean }
    PublishResult:
      type: object
      required: [snapshotId, checksum, delivery, jobId, jobStatus]
      properties:
        snapshotId: { type: string }
        checksum: { type: string }
        delivery: { type: object }
        jobId: { type: string, format: uuid }
        jobStatus:
          {
            type: string,
            enum: [queued, running, verifying, ready, published, failed],
          }
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code: { type: string }
            message: { type: string }
            requestId: { type: string }
