openapi: 3.1.0
info:
  title: Publisher Automation API
  version: 1.0.0
  description: Server-to-server content administration API for Claude and other automation clients.
servers:
  - url: https://admin.publisher.com
security:
  - bearerAuth: []
paths:
  /api/v2/sites/{siteId}/posts:
    get:
      operationId: listPosts
      summary: List managed posts
      parameters:
        - {
            name: limit,
            in: query,
            schema: { type: integer, minimum: 1, maximum: 100, default: 20 },
          }
        - {
            name: offset,
            in: query,
            schema: { type: integer, minimum: 0, default: 0 },
          }
      responses:
        '200': { $ref: '#/components/responses/PostsResponse' }
        '401': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: createPost
      summary: Create a validated draft
      requestBody: { $ref: '#/components/requestBodies/PostInput' }
      responses:
        '201': { $ref: '#/components/responses/PostResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/posts/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getPost
      summary: Get one managed post
      responses:
        '200': { $ref: '#/components/responses/PostResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updatePost
      summary: Update a draft with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
            description: Current numeric revision.,
          }
      requestBody: { $ref: '#/components/requestBodies/PostPatch' }
      responses:
        '200': { $ref: '#/components/responses/PostResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: deletePost
      summary: Delete a managed post with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200':
          {
            description: Deleted,
            content: { application/json: { schema: { type: object } } },
          }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/articles/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getArticle
      summary: Get an article and its locale variants
      responses:
        '200': { $ref: '#/components/responses/ArticleResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    put:
      operationId: upsertArticleVariant
      summary: Add or update one locale variant
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: integer },
          }
      requestBody: { $ref: '#/components/requestBodies/ArticleVariantInput' }
      responses:
        '200': { $ref: '#/components/responses/ArticleResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: removeArticleVariant
      summary: Remove one locale variant
      parameters:
        - { name: locale, in: query, required: true, schema: { type: string } }
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: integer },
          }
      responses:
        '200': { $ref: '#/components/responses/ArticleResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/posts:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    get:
      operationId: listSitePosts
      summary: List posts for an authorized site
      responses:
        '200': { $ref: '#/components/responses/PostsResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: createSitePost
      summary: Create a post for an authorized site
      requestBody: { $ref: '#/components/requestBodies/PostInput' }
      responses:
        '201': { $ref: '#/components/responses/PostResponse' }
  /api/v2/sites/{siteId}/publish:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      operationId: publishSite
      summary: Create a site snapshot and enqueue its build job
      parameters:
        - {
            name: Idempotency-Key,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '202': { $ref: '#/components/responses/PublishResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/plugins:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
    get:
      operationId: listSitePlugins
      summary: List reviewed plugin installations for an authorized site
      responses:
        '200': { $ref: '#/components/responses/PluginsResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: configureSitePlugin
      summary: Configure a reviewed plugin for an authorized site
      requestBody: { $ref: '#/components/requestBodies/PluginCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/PluginResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/plugins/{pluginId}:
    parameters:
      - { name: siteId, in: path, required: true, schema: { type: string } }
      - { name: pluginId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getSitePlugin
      summary: Read a site-scoped plugin installation without secret references
      responses:
        '200': { $ref: '#/components/responses/PluginResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updateSitePlugin
      summary: Update validated non-secret plugin configuration
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody:
        { $ref: '#/components/requestBodies/PluginConfigurationInput' }
      responses:
        '200': { $ref: '#/components/responses/PluginResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: actOnSitePlugin
      summary: Validate, enable, or disable an installation with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: false,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/PluginActionInput' }
      responses:
        '200': { $ref: '#/components/responses/PluginResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/tags:
    get:
      operationId: listTags
      summary: List managed taxonomy tags
      responses:
        '200': { $ref: '#/components/responses/TagsResponse' }
        '401': { $ref: '#/components/responses/ErrorResponse' }
    post:
      operationId: createTag
      summary: Create a managed taxonomy tag
      requestBody: { $ref: '#/components/requestBodies/TagInput' }
      responses:
        '201': { $ref: '#/components/responses/TagResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/tags/{slug}:
    parameters:
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      operationId: getTag
      summary: Get one managed taxonomy tag
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: renameTag
      summary: Rename a tag with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/TagPatch' }
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: archiveTag
      summary: Archive a tag without changing existing post assignments
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200': { $ref: '#/components/responses/TagResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/settings:
    get:
      operationId: getPublicationSettings
      summary: Read publication settings
      responses:
        '200': { $ref: '#/components/responses/SettingsResponse' }
    patch:
      operationId: updatePublicationSettings
      summary: Update publication settings with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/SettingsInput' }
      responses:
        '200': { $ref: '#/components/responses/SettingsResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
        '428': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/authors:
    get:
      operationId: listAuthors
      summary: List managed authors
      responses:
        '200': { $ref: '#/components/responses/AuthorsResponse' }
    post:
      operationId: createAuthor
      summary: Create a managed author with a stable slug
      requestBody: { $ref: '#/components/requestBodies/AuthorInput' }
      responses:
        '201': { $ref: '#/components/responses/AuthorResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/authors/{slug}:
    parameters:
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      operationId: getAuthor
      summary: Read one managed author
      responses:
        '200': { $ref: '#/components/responses/AuthorResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
    patch:
      operationId: updateAuthor
      summary: Edit an author while preserving its slug
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      requestBody: { $ref: '#/components/requestBodies/AuthorPatch' }
      responses:
        '200': { $ref: '#/components/responses/AuthorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
    delete:
      operationId: archiveAuthor
      summary: Archive an author with optimistic concurrency
      parameters:
        - {
            name: If-Match,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '200': { $ref: '#/components/responses/AuthorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
  /api/v2/sites/{siteId}/publish:
    post:
      operationId: publishSnapshot
      summary: Create an immutable snapshot and enqueue its build job
      description: Requires a publisher role and returns without running the static build.
      parameters:
        - {
            name: Idempotency-Key,
            in: header,
            required: true,
            schema: { type: string },
          }
      responses:
        '202':
          {
            description: Publish result,
            content:
              {
                application/json:
                  { schema: { $ref: '#/components/schemas/PublishResult' } },
              },
          }
        '403': { $ref: '#/components/responses/ErrorResponse' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Publisher automation key
  requestBodies:
    PostInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/PostInput' } },
        }
    PostPatch:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/PostPatch' } },
        }
    TagInput:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/TagInput' } },
        }
    TagPatch:
      required: true
      content:
        {
          application/json:
            { schema: { $ref: '#/components/schemas/TagPatch' } },
        }
    SettingsInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicationSettings' }
    AuthorInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AuthorInput' }
    AuthorPatch:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AuthorPatch' }
    ArticleVariantInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ArticleVariant' }
    PluginCreateInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PluginCreateInput' }
    PluginConfigurationInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PluginConfigurationInput' }
    PluginActionInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PluginActionInput' }
  responses:
    ErrorResponse:
      description: Structured API error
      content:
        { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    PostResponse:
      description: Managed post response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [post],
                  properties:
                    { post: { $ref: '#/components/schemas/ManagedPost' } },
                },
            },
        }
    PostsResponse:
      description: Paginated post response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [posts, page],
                  properties:
                    {
                      posts:
                        {
                          type: array,
                          items: { $ref: '#/components/schemas/ManagedPost' },
                        },
                      page: { $ref: '#/components/schemas/Page' },
                    },
                },
            },
        }
    TagResponse:
      description: Managed tag response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [tag],
                  properties:
                    { tag: { $ref: '#/components/schemas/ManagedTag' } },
                },
            },
        }
    TagsResponse:
      description: Managed tag list response
      content:
        {
          application/json:
            {
              schema:
                {
                  type: object,
                  required: [tags],
                  properties:
                    {
                      tags:
                        {
                          type: array,
                          items: { $ref: '#/components/schemas/ManagedTag' },
                        },
                    },
                },
            },
        }
    SettingsResponse:
      description: Revisioned publication settings
      content:
        application/json:
          schema:
            type: object
            required: [settings]
            properties:
              settings:
                { $ref: '#/components/schemas/ManagedPublicationSettings' }
    AuthorResponse:
      description: Managed author response
      content:
        application/json:
          schema:
            type: object
            required: [author]
            properties:
              author: { $ref: '#/components/schemas/ManagedAuthor' }
    AuthorsResponse:
      description: Managed author list
      content:
        application/json:
          schema:
            type: object
            required: [authors]
            properties:
              authors:
                type: array
                items: { $ref: '#/components/schemas/ManagedAuthor' }
    ArticleResponse:
      description: Article with locale variants
      content:
        application/json:
          schema:
            type: object
            required: [article]
            properties:
              article: { $ref: '#/components/schemas/ManagedArticle' }
    PublishResponse:
      description: Site publish result
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublishResult' }
    PluginResponse:
      description: Site-scoped plugin configuration without secret references
      content:
        application/json:
          schema:
            type: object
            required: [siteId, plugin]
            properties:
              siteId: { type: string }
              plugin: { $ref: '#/components/schemas/PluginInstallation' }
    PluginsResponse:
      description: Reviewed plugin definitions and installed configurations
      content:
        application/json:
          schema:
            type: object
            required: [siteId, definitions, plugins]
            properties:
              siteId: { type: string }
              definitions:
                type: array
                items: { type: string }
              plugins:
                type: array
                items: { $ref: '#/components/schemas/PluginInstallation' }
  schemas:
    PluginCreateInput:
      type: object
      required: [pluginId, configuration]
      properties:
        pluginId: { type: string }
        configuration: { type: object, additionalProperties: true }
    PluginConfigurationInput:
      type: object
      required: [configuration]
      properties:
        configuration: { type: object, additionalProperties: true }
    PluginActionInput:
      type: object
      required: [action]
      properties:
        action: { type: string, enum: [validate, enable, disable] }
        configuration: { type: object, additionalProperties: true }
    PluginInstallation:
      type: object
      required:
        [
          siteId,
          pluginId,
          definitionVersion,
          state,
          revision,
          configuration,
          hasSecretReferences,
          createdAt,
          updatedAt,
        ]
      properties:
        siteId: { type: string }
        pluginId: { type: string }
        definitionVersion: { type: string }
        state: { type: string, enum: [disabled, configured, enabled] }
        revision: { type: integer, minimum: 1 }
        configuration: { type: object, additionalProperties: true }
        hasSecretReferences: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    PostInput:
      type: object
      required:
        [slug, title, excerpt, bodyMarkdown, author, publishedAt, categories]
      properties:
        sourceId: { type: string }
        sourceUrl: { type: string, format: uri }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        title: { type: string }
        excerpt: { type: string }
        bodyMarkdown:
          {
            type: string,
            minLength: 1,
            description: 'Versioned CommonMark with validated figure/embed directives.',
          }
        author: { type: string }
        authorSlug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        seoTitle: { type: string, maxLength: 70 }
        seoDescription: { type: string, maxLength: 180 }
        status:
          {
            type: string,
            enum: [draft, review, scheduled, published],
            default: draft,
          }
        publishedAt: { type: string, format: date-time }
        categories: { type: array, items: { type: string } }
        imageUrl: { type: string }
        featured: { type: boolean }
    PostPatch:
      type: object
      properties:
        sourceId: { type: string }
        sourceUrl: { type: string, format: uri }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        title: { type: string }
        excerpt: { type: string }
        bodyMarkdown:
          {
            type: string,
            minLength: 1,
            description: 'Versioned CommonMark with validated figure/embed directives.',
          }
        author: { type: string }
        authorSlug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        seoTitle: { type: string, maxLength: 70 }
        seoDescription: { type: string, maxLength: 180 }
        status: { type: string, enum: [draft, review, scheduled, published] }
        publishedAt: { type: string, format: date-time }
        categories: { type: array, items: { type: string } }
        imageUrl: { type: string }
        featured: { type: boolean }
      description: All fields are optional for PATCH.
    TagInput:
      type: object
      required: [name]
      properties:
        slug: { type: string, pattern: '^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$' }
        name: { type: string, minLength: 1, maxLength: 80 }
    TagPatch:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 80 }
    ManagedPost:
      allOf:
        - { $ref: '#/components/schemas/PostInput' }
        - type: object
          required: [id, status, revision, createdAt]
          properties:
            id: { type: string }
            status:
              { type: string, enum: [draft, review, scheduled, published] }
            revision: { type: integer }
            createdAt: { type: string, format: date-time }
    ArticleVariant:
      type: object
      required:
        [
          locale,
          slug,
          title,
          excerpt,
          bodyMarkdown,
          seoTitle,
          seoDescription,
          status,
          publishedAt,
        ]
      properties:
        locale:
          { type: string, pattern: '^[A-Za-z]{2,3}(?:-[A-Za-z0-9]{2,8})*$' }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        title: { type: string }
        excerpt: { type: string }
        bodyMarkdown: { type: string }
        seoTitle: { type: string }
        seoDescription: { type: string }
        status: { type: string, enum: [draft, review, scheduled, published] }
        revision: { type: integer }
        publishedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    ManagedArticle:
      type: object
      required:
        [
          id,
          sourceId,
          sourceUrl,
          author,
          authorSlug,
          categories,
          featured,
          variants,
          revision,
          createdAt,
        ]
      properties:
        id: { type: string }
        sourceId: { type: string }
        sourceUrl: { type: string, format: uri }
        author: { type: string }
        authorSlug: { type: string }
        categories: { type: array, items: { type: string } }
        featured: { type: boolean }
        variants:
          {
            type: array,
            items: { $ref: '#/components/schemas/ArticleVariant' },
          }
        revision: { type: integer }
        createdAt: { type: string, format: date-time }
    ManagedTag:
      type: object
      required: [slug, name, active, revision, createdAt, updatedAt]
      properties:
        slug: { type: string }
        name: { type: string }
        active: { type: boolean }
        revision: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    PublicationSettings:
      type: object
      required:
        [
          name,
          shortName,
          description,
          canonicalOrigin,
          language,
          locale,
          publisherName,
        ]
      properties:
        name: { type: string }
        shortName: { type: string }
        description: { type: string }
        canonicalOrigin: { type: string, format: uri }
        language: { type: string }
        locale: { type: string }
        publisherName: { type: string }
    ManagedPublicationSettings:
      allOf:
        - { $ref: '#/components/schemas/PublicationSettings' }
        - type: object
          required: [revision, updatedAt]
          properties:
            revision: { type: integer }
            updatedAt: { type: string, format: date-time }
    AuthorInput:
      type: object
      required: [name, bio]
      properties:
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        name: { type: string, minLength: 1, maxLength: 120 }
        bio: { type: string, minLength: 1, maxLength: 500 }
        avatarUrl: { type: string }
        active: { type: boolean, default: true }
    AuthorPatch:
      type: object
      properties:
        slug:
          type: string
          description: Accepted only when unchanged; stable slugs cannot be renamed.
        name: { type: string, minLength: 1, maxLength: 120 }
        bio: { type: string, minLength: 1, maxLength: 500 }
        avatarUrl: { type: string }
        active: { type: boolean }
    ManagedAuthor:
      allOf:
        - { $ref: '#/components/schemas/AuthorInput' }
        - type: object
          required: [slug, active, revision, createdAt, updatedAt]
          properties:
            revision: { type: integer }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    Page:
      type: object
      required: [limit, offset, total, hasMore]
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }
        hasMore: { type: boolean }
    PublishResult:
      type: object
      required: [snapshotId, checksum, delivery, jobId, jobStatus]
      properties:
        snapshotId: { type: string }
        checksum: { type: string }
        delivery: { type: object }
        jobId: { type: string, format: uuid }
        jobStatus:
          {
            type: string,
            enum: [queued, running, verifying, ready, published, failed],
          }
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code: { type: string }
            message: { type: string }
            requestId: { type: string }
